{% extends "account/_account_base_form.html" %}

{% block title %}{{ project_name }} Password Reset{% endblock title %}

{% block form_content %}
<h5 class="card-title text-center">Password Reset</h5>
<h6 class="font-weight-light">Enter email address to continue.</h6>
{% include "includes/form_as_p.html" with form_button_id="reset-password" form_button_text="Reset My Password" %}
<div class="text-center mt-4 font-weight-light">
    Don't have an account? <a href="{% url 'account_signup' %}" class="text-hb-primary  text-decoration-none">Then
        Create One</a>
</div>
{% endblock form_content %}