{% extends "_base.html" %}

{% block title %}{{ project_name }} Password Reset Success{% endblock title %}

{% block content %}
<div class="d-flex align-items-center px-0">
    <div class="row w-100 m-lg-5">
        <div class="col-md-4 mx-auto">
            <div class="card shadow-lg">
                {% include "includes/card_logo.html" %}
                <div class="card-body">
                    <h5 class="card-title text-center">Password Reset</h5>
                    <h6>We have sent you an email to your address. Please contact us if you
                        don't recieve it in a few minutes</h6>
                    <a href="{% url 'home' %}"><button class="btn btn-hb-primary mt-2">Home</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}