{% extends "account/_account_base_form.html" %}

{% block title %}{{ project_name }} Password Change{% endblock title %}

{% block form_content %}
<h5 class="card-title text-center">Password Change</h5>
{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}
<form class="pt-3 password_change" method="post">
    {% csrf_token %}
    {{ form.as_p}}
    <div class="d-flex align-items-center">
        <a href="{% url 'profile_detail' user.username %}" class="btn btn-hb-primary m-2">Return
            to Profile</a>
        {% include "includes/submit_button.html" with button_id="change-password" button_text="Change My Password" %}
    </div>
</form>
<div class="text-center mt-4">
    Forgot your password? <a href="{% url 'account_reset_password' %}" class="text-hb-primary text-decoration-none">Reset</a>
</div>
{% endblock form_content %}