<h2 id="popper">Popper</h2>
<p>Bootstrap dropdown, tooltip and popover components need the additional js library <a
        href="https://getbootstrap.com/docs/5.1/getting-started/introduction/#:~:text=example%20page%20template.-,Show,-components%20requiring%20JavaScript">Popper.</a>
</p>
<figure class="m-lg-2 border border-secondary rounded">
    <pre id="code-popper-js" class="alert alert-secondary">
        {% filter force_escape %}
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
        {% endfilter %}
    </pre>
    <figcaption class="m-lg-2">To add Popper, it is just a case of adding the latest JS to your page
        <code>body</code> above the Bootstrap JS declaration.
    </figcaption>
</figure>