{% load static %}
<div class="col">
    <div class="card h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">
                Feature 1
            </h2>
            <ul class="d-flex list-unstyled mt-auto">
                <li class="me-auto">
                    <img src="{% static 'images/logo-mini.svg' %}" alt="AIUI" width="32" height="32" class="rounded-circle border border-white">
                </li>
                <li class="d-flex p-lg-1 align-items-center me-3">
                    <small>Feature 1</small>
                </li>
            </ul>
        </div>
    </div>
</div>