<h3 id="hb-primary-examples" class="m-lg-3">hb-primary</h3>
<div class="m-lg-2 border border-secondary rounded p-lg-1" id="ui-examples-primary">
    <div class="alert alert-hb-primary" role="alert">A simple HB Primary alert - check it out.</div>
</div>

<figure class="m-lg-2 border border-secondary rounded">
    <pre id="code-examples-primary" class="alert alert-secondary">
        {% filter force_escape %}
        <div class="alert alert-hb-primary" role="alert">A simple HB Primary alert - check it out.</div>
        {% endfilter %}
    </pre>
    <figcaption class="m-lg-2">As with Bootstrap themes, it is just a case of adding the correct HB theme -
        <code>alert-hb-primary</code> - to the
        <code>class="alert ...</code> statement.
    </figcaption>
</figure>