<h3 id="hb-primary-examples" class="m-lg-3">hb-primary</h3>
<div class="m-lg-2 border border-secondary rounded p-lg-1" id="ui-examples-primary">
    <p><a href="#" class="text-hb-primary">A link with text decoration.</a></p>
    <p><a href="#" class="text-hb-primary text-decoration-none">A link with no text decoration.</a></p>
</div>

<figure class="m-lg-2 border border-secondary rounded">
    <pre id="code-examples-primary" class="alert alert-secondary">
        {% filter force_escape %}<p>
            <a href="#" class="text-hb-primary">A link with text decoration.</a>
        </p>
        <p>
            <a href="#" class="text-hb-primary text-decoration-none">A link with no text decoration.</a>
        </p>{% endfilter %}
    </pre>
    <figcaption class="m-lg-2">
        As with Bootstrap themes, it is just a case of adding the correct HB theme -
        <code>text-hb-primary</code> - to the <code>class="..."</code> statement.
    </figcaption>
</figure>