<ul class="list-unstyled pb-1 text-center">
        <li><a href="{% url 'patternlibrary_alert' %}"
                        class="d-inline-flex align-items-center text-decoration-none">Alerts</a></li>
        <li><a href="{% url 'patternlibrary_avatar' %}"
                        class="d-inline-flex align-items-center text-decoration-none">Avatar</a></li>
        <li><a href="{% url 'patternlibrary_badge' %}"
                        class="d-inline-flex align-items-center text-decoration-none">Badge</a>
        </li>
        <li><a href="{% url 'patternlibrary_button' %}"
                        class="d-inline-flex align-items-center text-decoration-none">Buttons</a></li>
        <li><a href="{% url 'patternlibrary_datepicker' %}"
                        class="d-inline-flex align-items-center text-decoration-none">Datepicker</a></li>
        <li><a href="{% url 'patternlibrary_link' %}"
                        class="d-inline-flex align-items-center text-decoration-none">Link</a>
        </li>
        <li><a href="{% url 'patternlibrary_list_group_item' %}"
                        class="d-inline-flex align-items-center text-decoration-none">List Group
                        Item</a></li>
        <li><a href="{% url 'patternlibrary_table' %}"
                        class="d-inline-flex align-items-center text-decoration-none">Table</a></li>
</ul>