<h2 id="examples">Examples</h2>
<p>Avatars can be made up of a number of 'avatar' svg that overlay one another to provide the end avatar image. These
    are handled by a django formset.</p>
<article id="avatar-ui-example-hbprimary">
    {% include "pattern_library/components/avatar/avatar_examples_hbprimary.html" %}
</article>
<article id="avatar-ui-example-hbprimary-overide">
    {% include "pattern_library/components/avatar/avatar_examples_hbprimary_overide.html" %}
</article>
<article id="avatar-ui-example-hbprimary-include">
    {% include "pattern_library/components/avatar/avatar_examples_hbprimary_include.html" %}
</article>
<article id="avatar-ui-example-hbprimary-composite">
    {% include "pattern_library/components/avatar/avatar_examples_hbprimary_composite.html" %}
</article>
<article id="avatar-ui-example-hbprimary-composite">
    {% include "pattern_library/components/avatar/avatar_examples_hbprimary_composite_fixed_margin_padding.html" %}
</article>