{% extends "_base_form.html" %}

{% block title %}Server Error{% endblock title %}

{% block col_class %}class="col-md-6 mx-auto"{% endblock col_class %}
{% block form_content %}
{% include "includes/alert_icons.html" %}
<div class="row">
    <h1 class="card-title text-center text-danger">
        Server Error
    </h1>
    <div class="card-text">
        <p class="lead text-center">Something has gone wrong on our sever.
        </p>
        <div class="alert alert-danger" role="alert">
            <h5 class="alert-heading text-center">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                    <use xlink:href="#exclamation-triangle-fill" />
                </svg>
                Our engineers will be investigating what may have occured!
            </h5>
            <hr>
            <p>
                We are looking into this issue and the site should be up again shortly. In the meantime please accept
                our apologies and we would greatly appreciate your patience.
            </p>
        </div>
    </div>
</div>
{% include "includes/need_help.html" %}
{% endblock form_content %}