<h2>The Project Test SWATCH</h2>
<p>
    This is the test SWATCH for PROJECT NAME that takes a base colour, creates a series of
    darker and lighter colours, and then combines them all as text colour and background colour.
</p>
<p>
<table class="table">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Base</th>
            <th scope="col">#1</th>
            <th scope="col">#2</th>
            <th scope="col">#3</th>
            <th scope="col">#4</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Base Color Darker</th>
            <td class="bg-hb-primary"></td>
            <td class="bg-hb-primary-dark1"></td>
            <td class="bg-hb-primary-dark2"></td>
            <td class="bg-hb-primary-dark3"></td>
            <td class="bg-hb-primary-dark4"></td>
        </tr>
        <tr>
            <th scope="row">Base Color Lighter</th>
            <td class="bg-hb-primary"></td>
            <td class="bg-hb-primary-light1"></td>
            <td class="bg-hb-primary-light2"></td>
            <td class="bg-hb-primary-light3"></td>
            <td class="bg-hb-primary-light4"></td>
        </tr>
        <tr>
            <th scope="row">Text/Background Combinations (Base/Dark)</th>
            <td class="bg-hb-primary"></td>
            <td class="bg-hb-primary text-hb-primary-dark1">Dark 1</td>
            <td class="bg-hb-primary text-hb-primary-dark2">Dark 2</td>
            <td class="bg-hb-primary text-hb-primary-dark3">Dark 3</td>
            <td class="bg-hb-primary text-hb-primary-dark4">Dark 4</td>
        </tr>
        <tr>
            <th scope="row">Text/Background Combinations (Base/Light)</th>
            <td class="bg-hb-primary"></td>
            <td class="bg-hb-primary text-hb-primary-light1">Light 1</td>
            <td class="bg-hb-primary text-hb-primary-light2">Light 2</td>
            <td class="bg-hb-primary text-hb-primary-light3">Light 3</td>
            <td class="bg-hb-primary text-hb-primary-light4">Light 4</td>
        </tr>
        <tr>
            <th scope="row">Text/Background Combinations (Dark1/Dark)</th>
            <td class="bg-hb-primary-dark1 text-hb-primary">BASE</td>
            <td class="bg-hb-primary-dark1 text-hb-primary-dark1">Dark 1</td>
            <td class="bg-hb-primary-dark1 text-hb-primary-dark2">Dark 2</td>
            <td class="bg-hb-primary-dark1 text-hb-primary-dark3">Dark 3</td>
            <td class="bg-hb-primary-dark1 text-hb-primary-dark4">Dark 4</td>
        </tr>
        <tr>
            <th scope="row">Text/Background Combinations (Dark1/Light)</th>
            <td class="bg-hb-primary-dark1 text-hb-primary">BASE</td>
            <td class="bg-hb-primary-dark1 text-hb-primary-light1">Light 1</td>
            <td class="bg-hb-primary-dark1 text-hb-primary-light2">Light 2</td>
            <td class="bg-hb-primary-dark1 text-hb-primary-light3">Light 3</td>
            <td class="bg-hb-primary-dark1 text-hb-primary-light4">Light 4</td>
        </tr>
        <tr>
            <th scope="row">Text/Background Combinations (Dark2/Dark)</th>
            <td class="bg-hb-primary-dark2 text-hb-primary">BASE</td>
            <td class="bg-hb-primary-dark2 text-hb-primary-dark1">Dark 1</td>
            <td class="bg-hb-primary-dark2 text-hb-primary-dark2">Dark 2</td>
            <td class="bg-hb-primary-dark2 text-hb-primary-dark3">Dark 3</td>
            <td class="bg-hb-primary-dark2 text-hb-primary-dark4">Dark 4</td>
        </tr>
        <tr>
            <th scope="row">Text/Background Combinations (Dark2/Light)</th>
            <td class="bg-hb-primary-dark2 text-hb-primary">BASE</td>
            <td class="bg-hb-primary-dark2 text-hb-primary-light1">Light 1</td>
            <td class="bg-hb-primary-dark2 text-hb-primary-light2">Light 2</td>
            <td class="bg-hb-primary-dark2 text-hb-primary-light3">Light 3</td>
            <td class="bg-hb-primary-dark2 text-hb-primary-light4">Light 4</td>
        </tr>
        <tr>
            <th scope="row">Text/Background Combinations (Dark3/Dark)</th>
            <td class="bg-hb-primary-dark3 text-hb-primary">BASE</td>
            <td class="bg-hb-primary-dark3 text-hb-primary-dark1">Dark 1</td>
            <td class="bg-hb-primary-dark3 text-hb-primary-dark2">Dark 2</td>
            <td class="bg-hb-primary-dark3 text-hb-primary-dark3">Dark 3</td>
            <td class="bg-hb-primary-dark3 text-hb-primary-dark4">Dark 4</td>
        </tr>
        <tr>
            <th scope="row">Text/Background Combinations (Dark3/Light)</th>
            <td class="bg-hb-primary-dark3 text-hb-primary">BASE</td>
            <td class="bg-hb-primary-dark3 text-hb-primary-light1">Light 1</td>
            <td class="bg-hb-primary-dark3 text-hb-primary-light2">Light 2</td>
            <td class="bg-hb-primary-dark3 text-hb-primary-light3">Light 3</td>
            <td class="bg-hb-primary-dark3 text-hb-primary-light4">Light 4</td>
        </tr>
        <tr>
            <th scope="row">Text/Background Combinations (Dark4/Dark)</th>
            <td class="bg-hb-primary-dark4 text-hb-primary">BASE</td>
            <td class="bg-hb-primary-dark4 text-hb-primary-dark1">Dark 1</td>
            <td class="bg-hb-primary-dark4 text-hb-primary-dark2">Dark 2</td>
            <td class="bg-hb-primary-dark4 text-hb-primary-dark3">Dark 3</td>
            <td class="bg-hb-primary-dark4 text-hb-primary-dark4">Dark 4</td>
        </tr>
        <tr>
            <th scope="row">Text/Background Combinations (Dark4/Light)</th>
            <td class="bg-hb-primary-dark4 text-hb-primary">BASE</td>
            <td class="bg-hb-primary-dark4 text-hb-primary-light1">Light 1</td>
            <td class="bg-hb-primary-dark4 text-hb-primary-light2">Light 2</td>
            <td class="bg-hb-primary-dark4 text-hb-primary-light3">Light 3</td>
            <td class="bg-hb-primary-dark4 text-hb-primary-light4">Light 4</td>
        <tr>
            <th scope="row">Text/Background Combinations (Light1/Dark)</th>
            <td class="bg-hb-primary-light1 text-hb-primary">BASE</td>
            <td class="bg-hb-primary-light1 text-hb-primary-dark1">Dark 1</td>
            <td class="bg-hb-primary-light1 text-hb-primary-dark2">Dark 2</td>
            <td class="bg-hb-primary-light1 text-hb-primary-dark3">Dark 3</td>
            <td class="bg-hb-primary-light1 text-hb-primary-dark4">Dark 4</td>
        </tr>
        <tr>
            <th scope="row">Text/Background Combinations (Light1/Light)</th>
            <td class="bg-hb-primary-light1 text-hb-primary">BASE</td>
            <td class="bg-hb-primary-light1 text-hb-primary-light1">Light 1</td>
            <td class="bg-hb-primary-light1 text-hb-primary-light2">Light 2</td>
            <td class="bg-hb-primary-light1 text-hb-primary-light3">Light 3</td>
            <td class="bg-hb-primary-light1 text-hb-primary-light4">Light 4</td>
        </tr>
        <tr>
            <th scope="row">Text/Background Combinations (Light2/Dark)</th>
            <td class="bg-hb-primary-light2 text-hb-primary">BASE</td>
            <td class="bg-hb-primary-light2 text-hb-primary-dark1">Dark 1</td>
            <td class="bg-hb-primary-light2 text-hb-primary-dark2">Dark 2</td>
            <td class="bg-hb-primary-light2 text-hb-primary-dark3">Dark 3</td>
            <td class="bg-hb-primary-light2 text-hb-primary-dark4">Dark 4</td>
        </tr>
        <tr>
            <th scope="row">Text/Background Combinations (Light2/Light)</th>
            <td class="bg-hb-primary-light2 text-hb-primary">BASE</td>
            <td class="bg-hb-primary-light2 text-hb-primary-light1">Light 1</td>
            <td class="bg-hb-primary-light2 text-hb-primary-light2">Light 2</td>
            <td class="bg-hb-primary-light2 text-hb-primary-light3">Light 3</td>
            <td class="bg-hb-primary-light2 text-hb-primary-light4">Light 4</td>
        </tr>
        <tr>
            <th scope="row">Text/Background Combinations (Light3/Dark)</th>
            <td class="bg-hb-primary-light3 text-hb-primary">BASE</td>
            <td class="bg-hb-primary-light3 text-hb-primary-dark1">Dark 1</td>
            <td class="bg-hb-primary-light3 text-hb-primary-dark2">Dark 2</td>
            <td class="bg-hb-primary-light3 text-hb-primary-dark3">Dark 3</td>
            <td class="bg-hb-primary-light3 text-hb-primary-dark4">Dark 4</td>
        </tr>
        <tr>
            <th scope="row">Text/Background Combinations (Light3/Light)</th>
            <td class="bg-hb-primary-light3 text-hb-primary">BASE</td>
            <td class="bg-hb-primary-light3 text-hb-primary-light1">Light 1</td>
            <td class="bg-hb-primary-light3 text-hb-primary-light2">Light 2</td>
            <td class="bg-hb-primary-light3 text-hb-primary-light3">Light 3</td>
            <td class="bg-hb-primary-light3 text-hb-primary-light4">Light 4</td>
        </tr>
        <tr>
            <th scope="row">Text/Background Combinations (Light4/Dark)</th>
            <td class="bg-hb-primary-light4 text-hb-primary">BASE</td>
            <td class="bg-hb-primary-light4 text-hb-primary-dark1">Dark 1</td>
            <td class="bg-hb-primary-light4 text-hb-primary-dark2">Dark 2</td>
            <td class="bg-hb-primary-light4 text-hb-primary-dark3">Dark 3</td>
            <td class="bg-hb-primary-light4 text-hb-primary-dark4">Dark 4</td>
        </tr>
        <tr>
            <th scope="row">Text/Background Combinations (Light4/Light)</th>
            <td class="bg-hb-primary-light4 text-hb-primary">BASE</td>
            <td class="bg-hb-primary-light4 text-hb-primary-light1">Light 1</td>
            <td class="bg-hb-primary-light4 text-hb-primary-light2">Light 2</td>
            <td class="bg-hb-primary-light4 text-hb-primary-light3">Light 3</td>
            <td class="bg-hb-primary-light4 text-hb-primary-light4">Light 4</td>
        </tr>
    </tbody>
</table>
</p>
<pre>

</pre>