<h2>The Project SWATCH</h2>
<p>
    This takes the test SWATCH for PROJECT NAME and from the base colour,
    a selection of darker and lighter colours are made.
</p>
<p>
<table class="table">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Base</th>
            <th scope="col">#1</th>
            <th scope="col">#2</th>
            <th scope="col">#3</th>
            <th scope="col">#4</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Text/Background Combination Choices (bg/text)</th>
            <td class="bg-hb-primary text-hb-primary-light4">Base/Light4</td>
            <td class="bg-hb-primary-dark2 text-hb-primary-light3">Dark2/Light3</td>
            <td class="bg-hb-primary-dark4 text-hb-primary-light2">Dark2/Light2</td>
            <td class="bg-hb-primary-light2 text-hb-primary-dark3">Light2/Dark3</td>
            <td class="bg-hb-primary-light3 text-hb-primary-dark2">Light3/Dark2</td>
        </tr>
    </tbody>
</table>
</p>
<pre>

</pre>