<h3 id="hb-primary-examples" class="m-lg-3">hb-primary</h3>
<div class="m-lg-2 border border-secondary rounded p-lg-1" id="ui-examples-primary">
    <button type="button" class="btn btn-hb-primary">Primary</button>
    <button type="button" class="btn btn-hb-primary" disabled>Disabled</button>
    <button type="button" class="btn btn-hb-primary active">Active</button>
    <button type="button" class="btn btn-outline-hb-primary">Outline</button>
    <button type="button" class="btn btn-outline-hb-primary" disabled>Outline Disabled</button>
    <button type="button" class="btn btn-outline-hb-primary active">Outline Active</button>
</div>

<figure class="m-lg-2 border border-secondary rounded">
    <pre id="code-examples-primary" class="alert alert-secondary">
        {% filter force_escape %}<button type="button" class="btn btn-hb-primary">HB Primary </button>
        <button type="button" class="btn btn-hb-primary" disabled>Disabled</button>
        <button type="button" class="btn btn-hb-primary active">Active</button>
        <button type="button" class="btn btn-outline-hb-primary">Outline</button>
        <button type="button" class="btn btn-outline-hb-primary" disabled>Outline Disabled</button>
        <button type="button" class="btn btn-outline-hb-primary active">Outline Active</button>{% endfilter %}
    </pre>
    <figcaption class="m-lg-2">
        As with Bootstrap themes, it is just a case of adding the correct HB theme -
        <code>badge-hb-primary</code> - or its various possibilities, to the <code>class="btn ...</code> statement.
    </figcaption>
</figure>