<h2 id="examples">Examples</h2>
<p>Tables are a core component for displaying data and can be coloured appropriately using HB Branding.</p>
<article id="table-ui-example-hbprimary">
    {% include "pattern_library/components/table/table_examples_hbprimary.html" %}
</article>
<article id="table-ui-example-hbprimary-clear-header-footer">
    {% include "pattern_library/components/table/table_examples_hbprimary_clear_header_footer.html" %}
</article>
<article id="table-ui-example-hbprimary-themed-header-footer">
    {% include "pattern_library/components/table/table_examples_hbprimary_themed_header_footer.html" %}
</article>
<article id="table-ui-example-hbprimary-striped">
    {% include "pattern_library/components/table/table_examples_hbprimary_striped.html" %}
</article>