<h3 id="hb-primary-examples" class="m-lg-3">hb-primary</h3>
<p>You can do anything you can with a Bootstrap List Group (including horizontal list items) - just add
    list-group-item-hb-primary.</p>
<div class="m-lg-2 border border-secondary rounded p-lg-1" id="ui-examples-primary">
    <ul class="list-group">
        <li class="list-group-item">A simple default list group item for comparison</li>
        <li class="list-group-item list-group-item-hb-primary">A simple HB primary list group item</li>
        <li class="list-group-item list-group-item-hb-primary active" aria-current="true">An active HB primary list
            group item</li>
        <li class="list-group-item list-group-item-hb-primary disabled" aria-disabled="true">An disabled HB primary list
            group item</li>
        <a href="#" class="list-group-item list-group-item-hb-primary list-group-item-action">A HB primary list group
            link item</a>
        <a href="#" class="list-group-item list-group-item-hb-primary list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">A HB primary list group item with custom content</h5>
                <small class="text-muted">3 days ago</small>
            </div>
            <p class="mb-1">Some placeholder content in a paragraph.</p>
            <small class="text-muted">And some muted small print.</small>
        </a>
        <label class="list-group-item list-group-item-hb-primary">
            <input class="form-check-input me-1" type="checkbox" value="">
            A HB primary list group item with checkbox
        </label>
    </ul>
</div>

<figure class="m-lg-2 border border-secondary rounded">
    <pre id="code-examples-primary" class="alert alert-secondary">
        {% filter force_escape %}<ul class="list-group">
            <li class="list-group-item">A simple default list group item for comparison</li>
            <li class="list-group-item list-group-item-hb-primary">A simple HB primary list group item</li>
            <li class="list-group-item list-group-item-hb-primary active" aria-current="true">An active HB primary list
                group item</li>
            <li class="list-group-item list-group-item-hb-primary disabled" aria-disabled="true">An disabled HB primary
                list
                group item</li>
            <a href="#" class="list-group-item list-group-item-hb-primary list-group-item-action">A HB primary list
                group
                link item</a>
            <a href="#" class="list-group-item list-group-item-hb-primary list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">A HB primary list group item with custom content</h5>
                    <small class="text-muted">3 days ago</small>
                </div>
                <p class="mb-1">Some placeholder content in a paragraph.</p>
                <small class="text-muted">And some muted small print.</small>
            </a>
            <label class="list-group-item list-group-item-hb-primary">
                <input class="form-check-input me-1" type="checkbox" value="">
                A HB primary list group item with checkbox
            </label>
        </ul>{% endfilter %}
    </pre>
    <figcaption class="m-lg-2">
        As with Bootstrap themes, it is just a case of adding the correct HB theme -
        <code>list-group-item-hb-primary</code> - to the <code>class="list-group-item ...</code> statement.
    </figcaption>
</figure>